header {
    min-height: 100vh;
    background: url("../../assets/backgroung.png");
    background-size: cover;
    background-position: center;
}

#header .wrapper {
    position: relative;
    height: 100;
}

header .cta {
    width: 453px;
    height: 326px;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
border-top: 4px solid #FFF;

border-right: 4px solid #FFF;

border-left: 4px solid #FFF;

background: rgba(0, 0, 0, 0.50);

backdrop-filter: blur(25px);
}

header .cta .course-name {
    font-size: 16px;
    font-weight: 800;
    color: white;
    position: relative;
}

header .cta .course-name::after {
    content:"123";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color:  var(--red-color);
    left: 0;
    bottom: -10px;
}

header .cta h1 {
    color: #FFF;
    font-family: Alegreya;
    font-size: 40px;
    font-weight: 700;
    line-height: 140 px;
}

header .cta .demo-btn {
    border-radius: 10px;
    background: var(--red-color);
    color:#FFF;
    padding: 10px 32px;
    font-weight: 800;
    font-size: 16px;
}